.container {
    display: flex;
    /* background-color: rgb(138, 131, 131); */
    justify-content: center;
    width: 55%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }

