.container{
    margin: 50px 0;
   
    
    
}
/* .content{
    background-color: rgba(0, 255, 0, 0.5);
} */

.card{
    margin: 0 2% !important;
  
}
#card1{
    background-color: #FFFFFF;
    
}
#card2{
    background-color: #FFFFFF;
}
#card3{
    background-color: #FFFFFF;
}
#card1:hover{
    background-color: rgba(193, 131, 131, 0.5);
    border-radius: 1.5em;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
    

}
#card2:hover{
    background-color: rgba(165, 194, 165, 0.5);
    border-radius: 1.5em;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
    
}
#card3:hover{
    background-color: rgba(129, 129, 171, 0.5);
    border-radius: 1.5em;
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    border-top: 10px solid rgba(0, 0, 255, 0.5);
    border-radius: 20%;
    
    
}
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    border-top: 10px solid rgba(0, 255, 0, 0.5);
    border-radius: 20%;
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    border-top: 10px solid rgba(255, 0, 0, 0.5);
    border-radius: 20%;
}